**/data
**/MIND
**/model
**/model_bk
**/*.yaml
**/*.whl
**/*.Dockerfile
**/Dockerfile
**/bert-base-uncased
**/*.pyc
**/*.pyo
**/unilm-large-cased
**/unilm-base-cased
**/MiniLM-L12-H384-uncased
**/roberta-large
**/PLM-NR/__pycache__